flows.json
[{"id":"8dbee92f.68bb88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"485310c5.84626","type":"ibmiot in","z":"8dbee92f.68bb88","authentication":"apiKey","apiKey":"69249665.1641a8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"A2","applicationId":"","deviceType":"A2","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":false,"qos":0,"x":130,"y":180,"wires":[["caa50523.81f6d8","7283bca1.bf5d04"]]},{"id":"caa50523.81f6d8","type":"function","z":"8dbee92f.68bb88","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["1ce59084.79bf6f","9f52ab6f.385dc8"]]},{"id":"7283bca1.bf5d04","type":"function","z":"8dbee92f.68bb88","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["1ce59084.79bf6f","a378be67.a9fa2"]]},{"id":"1ce59084.79bf6f","type":"debug","z":"8dbee92f.68bb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":360,"wires":[]},{"id":"a378be67.a9fa2","type":"ui_gauge","z":"8dbee92f.68bb88","name":"","group":"347c7dd4.455f82","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":120,"wires":[]},{"id":"7aa934fb.c3972c","type":"http request","z":"8dbee92f.68bb88","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"http://api.openweathermap.org/data/2.5/weather?q=Mumbai&units=metric&appid=577a1cbdcb2a11d51cc74f5f5962791a","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":360,"wires":[["1ce59084.79bf6f"]]},{"id":"7ba0e044.521e4","type":"inject","z":"8dbee92f.68bb88","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":"60","x":170,"y":360,"wires":[["7aa934fb.c3972c"]]},{"id":"9f52ab6f.385dc8","type":"ui_gauge","z":"8dbee92f.68bb88","name":"","group":"d545b6e6.aae1d8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":80,"wires":[]},{"id":"4e5a1106.3b587","type":"ui_button","z":"8dbee92f.68bb88","name":"","group":"49fbb64f.909278","order":0,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"{    \"command\": \"motoron\",    \"message\": \"H=78% T=17 C\"}","payloadType":"json","topic":"","x":340,"y":480,"wires":[["e23edc04.fb06a","1ce59084.79bf6f"]]},{"id":"eb97511b.00a27","type":"ui_button","z":"8dbee92f.68bb88","name":"","group":"49fbb64f.909278","order":1,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\",\"message\":\"\"}","payloadType":"json","topic":"","x":340,"y":560,"wires":[["e23edc04.fb06a","1ce59084.79bf6f"]]},{"id":"e23edc04.fb06a","type":"ibmiot out","z":"8dbee92f.68bb88","authentication":"apiKey","apiKey":"69249665.1641a8","outputType":"cmd","deviceId":"A3","deviceType":"Node","eventCommandType":"print","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":500,"wires":[]},{"id":"69249665.1641a8","type":"ibmiot","z":"","name":"node","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"347c7dd4.455f82","type":"ui_group","z":"","name":"Tempreture","tab":"667e1802.904a18","order":2,"disp":true,"width":"6","collapse":false},{"id":"d545b6e6.aae1d8","type":"ui_group","z":"","name":"humidity","tab":"667e1802.904a18","order":1,"disp":true,"width":"6","collapse":false},{"id":"49fbb64f.909278","type":"ui_group","z":"","name":"Motor","tab":"667e1802.904a18","order":4,"disp":true,"width":"6","collapse":false},{"id":"667e1802.904a18","type":"ui_tab","z":"","name":"Smart Agriculture System Using IOT","icon":"dashboard","disabled":false,"hidden":false}]